# Database
POSTGRES_DB=xxx
POSTGRES_USER=xxx
POSTGRES_PASSWORD=xxx

DB_HOST=xx
DB_PORT=xxx
DATABASE_URL=postgresql://xxx:xxx@xxxx:xxx/xxx


# BINANCE
BINANCE_API_KEY=ghgj....
BINANCE_PUBLIC_KEY_PATH=./src/keys/ed2...
BINANCE_PRIVATE_KEY_PATH=./src/keys/ed...

BINANCE_MINING_USER=au...
BINANCE_MINING_PASSWORD=1...
BINANCE_POOL_1_URL=stratum+tcp://etc.poolbina...
BINANCE_POOL_2_URL=stratum+tcp://etc.poolbina...
BINANCE_POOL_3_URL=stratum+tcp://etc.poolbina...

# BINANCE POOLS CONFIG
POOL_1=etc.poolbin...
POOL_2=etc.poolbin...
POOL_3=etc.poolbin...


RIG_NAME=<tunombre_rig>
ALGO=Etchash

MINER_DOCKERFILE=docker/miner/Dockerfile
GPU_COUNT=1
MINER_WEB_PORT=1231

TARGET_TEMP=68
CRITICAL_TEMP=78
LHR_LIMIT=50

#--------
# CPU Config
# MINER_DOCKERFILE=docker/miner/Dockerfile.cpu
# GPU_COUNT=0
# ALGO=RandomX
# CPU_THREADS=2
# MINER_WEB_PORT=1231
#--------

# App
LOG_LEVEL=DEBUG

