# Database
POSTGRES_DB=a...
POSTGRES_USER=a...
POSTGRES_PASSWORD=cr...

DB_HOST=t...
DB_PORT=5432
DATABASE_URL=po...

#------------
# GRAFANA
# VISUALIZACION 
#------------
GRAFANA_PASSWORD=p...

# BINANCE
BINANCE_API_KEY=g...
BINANCE_PUBLIC_KEY_PATH=./sr...
BINANCE_PRIVATE_KEY_PATH=./sr...

BINANCE_MINING_USER=a...
BINANCE_MINING_PASSWORD=1...
BINANCE_POOL_1_URL=str...
BINANCE_POOL_2_URL=str...
BINANCE_POOL_3_URL=str...

# BINANCE POOLS CONFIG
POOL_1=et...
POOL_2=et...
POOL_3=et...


RIG_NAME=rig_principal
ALGO=Etchash

MINER_DOCKERFILE=docker/miner/Dockerfile
GPU_COUNT=1
MINER_WEB_PORT=9090

TARGET_TEMP=68
CRITICAL_TEMP=78
LHR_LIMIT=50

#--------
# CPU Config
# MINER_DOCKERFILE=docker/miner/Dockerfile.cpu
# GPU_COUNT=0
# ALGO=RandomX
# CPU_THREADS=2
# MINER_WEB_PORT=9091

#POOL CPU
#POOL_1=r...
#--------

# App
LOG_LEVEL=DEBUG
DEBUG_MODE=True


#-------------------
# TELEGRAM
#-------------------

TELEGRAM_BOT_TOKEN=8...
TELEGRAM_CHAT_ID=8...
NOTIFY_STARTUP=True